.navbar {
    background-color: #343a34;
}

.Navbar .Navbar-brand {
    color: #fff;
}

.navbar .navbar-link {
 color: #fff !important;
 text-decoration: none !important;
 margin-right: 20px;
}

@media(max-width: 576px) {
    .navbar .navbar-link {
        margin-right: 0px;
    }
}